{
    "DevelopmentStudioSettings" : { // Секция с настройками DevelopmentStudio для сброки пакета
        "ExePath" : "", // Путь до файла DevelopmentStudio.exe
        "PackageInfoPath": "", // Путь до xml с описанием пакета
        "TempPackagesPath": "", // Путь, куда будут складываться пакеты для публикации. По умолчанию, папка temp
        "SavePackageAfterDeploy": true // Признак необходимости сохранения созданных пакетов после публикации
    },
    "DeploymentToolCoreSettings" : { // Секция с настройками DeploymentToolCore для публикации пакета
        "ExePath" : "", // Путь до файла DeploymentToolCore.exe
        "Login": "", // Логин пользователя, под кем производится публикация. По умолчанию, Administrator
        "Password": "" // Пароль пользователя, под кем производится публикация. По умолчанию, 11111
    },
    "GitRepositoriesSettings": { // Секция с настройками репозиториев для сборки пакета
        "ExePath": "", // Путь до файла git.exe, на случай если он не добавлен в PATH. Если добавлен, то параметр указывать не нужно
        "Repositories" : [
            {
                "SourcesPath" : "C:\\Sources", // Путь до репозитория
                "BranchName" : "develop" // Имя ветки, из которой необходимо собирать пакет. По умолчанию, master
            }
        ]
        
    },
    "NotifiersSettings": [ // Секция настроек уведомлений. На текущий момент реализованы уведомления в Telegram, Mattermost и agile-доски Directum RX
        { // Секция с настройками уведомлений в Telegram
            "Target": "Telegram", 
            "Token": "", // Токен бота, который будет слать уведомления.
            "ChatIdentifier": "", // Идентификатор чата, куда бот будет слать уведомления.
            "StartMessage": "",
            "FinishMessage": "",
            "ErrorMessage": ""
        },
        { // Секция с настройками уведомлений в Mattermost
            "Target": "Mattermost",
            "Token": "", // Токен бота, который будет слать уведомления.
            "Server": "", // Адрес сервера.
            "ChannelId": "", // ИД канала, куда отправить сообщение.
            "OneThread": true, // Признак, отвечающий за отправку всех сообщений в один тред.
            "StartMessage": "",
            "FinishMessage": "",
            "ErrorMessage": ""
        },
        { // Секция с настройками работы с Agile-досками
            "Target": "AgileBoards",
            "Token": "", // Логин и пароль пользователя, под которым будет вестить работа, через ":"
            "IntegrationServiceUri": "", // Адрес до сервиса интеграции Directum RX, где развернуты доски
            "BoardId": 3, // Идентификатор доски
            "AppId": "946ad232-32ba-8c3b-49e3-c340c1fc022c", // Идентификатор тенанта. Не знаю, где задается, вытащил его через консоль браузера в любом запросе досок
            "SummaryTarget": "Telegram", // Имя таргета-мессенджера, куда отправлять сводку о всех тикетах подходящих под условия Actions.
            "TicketHyperlinkTemplate": "https://directum.rx/client/agile/?boardId={0}&ticketId={1}", // Шаблон гиперссылки на тикет, где 0 - это ИД доски, а 1 - ИД тикета. При заполненности данного параметра включается MD-форматирование сводки. Заполнять только в паре с SummaryTarget
            "Actions": [ // Секция с настройками действий на доске. на текущий момент поддерживается передвижение тикетов между колонками и удаление/добавление меток на тикеты колонки
                {
                    "Target": "Column", // Таргет действия, Возможные значения - Column и Tag
                    "ColumnFrom": "Рецензирование завершено", // Имя колонки, откуда необходимо передвинуть все тикеты
                    "ColumnTo": "Можно брать в тестирование", // Имя колонки, куда необходимо передвинуть тикеты
                    "SummaryHeader": "Следующие тикеты перемещены из ColumnFrom в ColumnTo:" // Заголовок сводки, если указан SummaryTarget. Необязательный параметр.
                },
                {
                    "Target": "Tag",
                    "Type": "Remove", // Варианты действия с меткой. Возможные значения - Add и Remove
                    "ColumnFrom": "Тестирование", // Имя колонки, где необходимо добавить/удалить метку на тикеты
                    "TagName": "На перенос", // Имя метки
                    "SummaryHeader": "Исправлены замечания в следующих тикетах:" // Заголовок сводки, если указан SummaryTarget. Необязательный параметр.
                }
            ]
        }
    ]
}